<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/basic.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/gantt.css')}}" />
<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/index_main.js')}}"></script>

</head>
<body>

<div id="task">
</div>

<div id="gantt" onscroll="document.getElementById('task').scrollTop=this.scrollTop;">
<table>
  <thead>
    <tr>
      <th>day</th>
      {{gantt.day_header_day_html|safe}}
    </tr>
    <tr>
      <th>hour</th>
      {{gantt.day_header_hour_html|safe}}
    </tr>
    <tr>
      <th>hhour</th>
      {{gantt.day_header_hhour_html|safe}}
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for i in range(200) %}
        <td><img src='{{url_for("static", filename="svg/progress_work_65.svg")}}' /></td>
      {% endfor %}
    </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>
</div>


</body>
</html>