<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/basic.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/gantt.css')}}" />
<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='layer/layer.js')}}"></script>
<script src="{{url_for('static', filename='jquery/treegrid/treegrid.js')}}"></script>
<script src="{{url_for('static', filename='js/gantt.js')}}"></script>


</head>
<body>

<div id="control">
  <form method="post" action="/add_task">
    <input type="text" name="title" size="40" />
    <input type="submit" value="NEW" />
  </form>
</div>

<hr/>
<div id="task_gantt">

<div id="task">
<table>
  <thead>
    <tr>
      <th>Title</th><th>Owner</th><th>Finish</th><th>Status</th>
    </tr>
    <tr>
      <th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th>
    </tr>
    <tr>
      <th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for t in tasks %}
      <tr id='{{t[0]}}' tid='{{t[2]}}'>
          <td>{{t[1]}}</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div id="gantt" onscroll="document.getElementById('task').scrollTop=this.scrollTop;">
<table>
  <thead>
    <!-- <tr>
      {{gantt.day_header_day_html|safe}}
    </tr>
    <tr>
      {{gantt.day_header_hour_html|safe}}
    </tr>
    <tr>
      {{gantt.day_header_hhour_html|safe}}
    </tr> -->
  </thead>
  <tbody>
  <!-- {% for tsk in tasks %}
    <tr>
      {{tsk|safe}}
    </tr>
  {% endfor %} -->
  </tbody>
  <tfoot>
  </tfoot>
</table>
</div>

</div>


</body>
</html>