<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/basic.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/gantt.css')}}" />
<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='layer/layer.js')}}"></script>
<script src="{{url_for('static', filename='jquery/treegrid/treegrid.js')}}"></script>
<script src="{{url_for('static', filename='js/gantt.js')}}"></script>


</head>
<body>

<div id="control">
  <form method="post" action="/add_task">
    <input type="text" name="title" size="40" />
    <input type="submit" value="NEW" />
  </form>
</div>


<div>
  {{dir|safe}}
</div>
<hr/>
<div id="task_gantt">

<div id="task">
<table>
  <thead>
    <tr>
      <th>Title</th><th>Owner</th><th>Finish</th><th>Status</th>
    </tr>
    <tr>
      <th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th>
    </tr>
    <tr>
      <th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for t in tasks %}
      <tr id='{{t.identity}}' tid='{{t.id}}' class='{{t.style}}'>
          <td><a href='/task/{{t.id}}'>{{t.title}}</a></td><td>{{t.eplan.owner}}</td><td>{{t.eplan.finish}}</td><td>{{t.eplan.status}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<div id="gantt" onscroll="document.getElementById('task').scrollTop=this.scrollTop;">
<table>
  <thead>
    <tr>
    {% for c in gantt.head_day %}
      <td colspan="{{c.cols}}" class="{{c.style}}">{{c.content}}</td>
    {% endfor %}
    </tr>
    <tr>
    {% for c in gantt.head_hour %}
      <td colspan="2" class="{{c.style}}">{{c.content}}</td>
    {% endfor %}
    </tr>
    <tr>
    {% for c in gantt.head_hhour %}
      <td class="{{c.style}}">&nbsp;</td>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
  <!-- {% for tsk in tasks %}
    <tr>
      {{tsk|safe}}
    </tr>
  {% endfor %} -->
  </tbody>
  <tfoot>
  </tfoot>
</table>
</div>

</div>


</body>
</html>