div#control {
  margin: 5px;
  padding: 5px;
}

div#task_gantt {
  display: flex;
  flex-flow: row nowrap;
}

div#task {
  width: 20%;
  overflow-x: scroll;
}

div#gantt {
  width: 80%;
  overflow: scroll;
}

div#gantt th div{
  width: 15px;
}

table {
  border-collapse:collapse;
  border:none;
}

table th{
  border:solid #000 1px;
  padding: 0px;
}

table td{
  padding: 0px;
}

.unwork {
  background: #EEEEEE;
}