div#control {
  margin: 5px;
  padding: 5px;
}

/*Gantt表设置*/
div#task_gantt {
  display: flex;
  flex-flow: row nowrap;
}

div#task {
  width: 40%;
  overflow-x: scroll;
  white-space:nowrap;
}

div#gantt {
  width: 60%;
  overflow: scroll;
}

div#gantt th div{
  width: 15px;
}

table {
  border-collapse:collapse;
  border:none;
}

table th{
  border:solid #000 1px;
  padding: 0px;
  background: #CCFFFF;
}

table td{
  padding: 0px;
}

/*task表设置*/

div#task table {
  width : 100%;
}

div#task th {
  background: #CCFFFF;
}

div#task tbody {
  border: solid #000000 1px;
}
  
div#task td.field {
  border: solid #000000 1px;
}
  
  

.unwork {
  background: #EEEEEE;
}