

table {
  border-collapse:collapse;
  border:none;
}

table th{
  border:solid #000 1px;
  width: 10;
  padding: 0px;
}

table td{
  padding: 0px;
}

.unused {
  background: #888888;
}

.unwork {
  background: #888888;
}